/* ------------------------------section texte----------------------------------- */

/* ---------------------------articles--------------------------------------------- */
.section-img-github{
    width: 30%;
    height: auto;
}
#section-img-lighthouse{
    width: 30%;
    height: auto;
}
/* -------------------------------règles média querry---------------------------- */
@media(min-width: 768px){
    .section-img-github{
        width: 35%;
        height: auto;
    }
    #section-img-lighthouse{
        width: 35%;
        height: auto;
    }
}
@media(min-width: 1100px){
    .section-img-github{
        width: 90%;
        height: auto;
    }
    #section-img-lighthouse{
        width: 90%;
        height: auto;
    }
}